name: Make release

permissions:
  contents: read

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17

      - run: chmod +x ./gradlew

      - run: ./gradlew assembleStandardRelease -Pandroid.injected.build.abi.filters=arm64-v8a

      - uses: actions/upload-artifact@v4
        with:
          name: app-arm64-v8a-release
          path: app/build/outputs/apk/standard/release/*arm64-v8a*.apk
